@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color:#ededed;
}

*{
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    background-color:#ededed;
    
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
} 



.top{
    display: flex;
    margin:15px 0px;
    padding-top: 0px;
    
}



li > a{
    padding: 8px;
    color: #ededed;
} 



.fl_right{
    /* float: right; */
    display: flex;
}

.fl_left{
    /* float: left; */
    display: flex;
}

.contact{
    
    display: flex;
    margin:0;
    padding: 0;
}

.location{
    
    margin:0;
    
}

.main-header{
    width: 100%;
    
    background-color: #4360d6;
    /* padding-left: 250px;
    padding-right: 250px; */
    min-width: 300px;
}

.main-header .container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

 .container-logo{
    display: flex;
    align-content: center;
    justify-content: space-between;
    float: left;
} 

.logo{
    display: flex;
    align-items: center;
    align-content: center;
}

#logotipo{
    width: 250px; 
    height: 160px;
}

.ul-logo{
    padding: 0;
    margin: 0;
    
}
.container-operacion{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    
    
}

.operacion{
    margin: 10px;
    display: flex;
    
}

.operacion a{
    color: #ededed;
    font-size: large;
    
}


.topbar{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #ededed;
    padding-left: 250px;
    padding-right: 250px; 
    min-width: 420px;
}

#tel, #mail, #map{
    color: #4360d6;
    padding-right: 0px;
    
}

.location li{
    margin-right: 15px;
    margin-left: 0;

}


#icon-phone{
    width: 15px;
    height: 16px;
    margin-right: 5px;
}

#icon-mail{
    width: 18px;
    height: 13px;
    margin-right: 5px;
}

#icon-location{
    width:12px;
    height:15px;
    margin-right: 5px;
}

#icon-instagram{
    width:18px;
    height:18px;
    margin-right: 0px;
    margin-bottom: 8px;
}

#icon-facebook{
    width:12px;
    height:18px;
    margin-right: 0px;
    margin-bottom: 8px;
}

.tarjeta{
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows:  repeat(3, auto) 50px 50px 50px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
    
}

a:link{
    text-decoration: none !important;
    
}
 .a{
    width: 66%;
}

a:hover {
    text-decoration: none !important;
    } 


 .tarjeta > img{
  
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 4;
  } 

.tipo{
    
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    padding-left: 10px;
    color: #878787;
    
    
}

.tipo h4{
    font-size: larger;
    margin: 0;
    padding-top: 15px;
}

.titulo{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    justify-content: left;
    display: flex;
    overflow: hidden;
    color: #4360d6;
    
    
}
.direccion{
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    
    padding-left: 10px;
    color: #878787;
}

.precio{
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    color: #4360d6;
    
}
.metros{
    grid-column: 3 / 3;
    grid-row: 7 / 8;
    text-align: right;
    padding-right: 10px;
    padding-top: 25px;
    color: #878787;
}
.metros h4{
    font-size: medium;
    margin: 0;
} 

.footer{
    width: 100%;
    background-color: #4360d6;
    padding: 20px 0px;
    min-width: 300px;
    
}

.data-grid{
    display: grid;
    grid-template-columns:  auto auto auto auto;
    grid-template-rows:  auto auto auto auto;
    justify-content: space-between;
    align-items: center;
}

.contact-footer{
    grid-column: 1 / 2;
    color: #ededed;
    
}

.contact-footer p a{
    color: #ededed;
}


.logo-colegio{
    grid-column: 2 / 3;
    
}

.matriculas{
    grid-column: 3 / 4;
    color: #ededed;
    
}

.logo-footer{
    grid-column: 4 / 5;
    
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    
}



.derechos{
    grid-column: 1/2;
    
}

.desarrollo{
    grid-column: 2/3;
   
}

@media only screen and (max-width: 405px){
    /* .logo-footer{display: none;}
    .contact-footer{margin-left: 70px ;} */
    
    
}


@media only screen and (max-width: 600px) {
    .grid-container {grid-template-columns: auto; margin: 20px; padding: 5px;}
    .main-header{ padding-left: 20px; padding-right: 20px;}
    .footer{ padding-left: 20px; padding-right: 20px;}
    .topbar{display: none;}
    .container-logo, #logotipo{width: 170px;}
    .container-operacion{width: 100px;}
    .ul-operacion{margin-top: 30px;}   
    .operacion{font-size: 12px;}
    .operacion a{font-size: medium;}
    .logo{margin: 0;}
    #carousel{display: none;}
    .contact-footer{grid-column: 1/-1; grid-row: 2/3;}
    .logo-colegio{grid-column: 1 / -1; grid-row: 4/5;}
    .matriculas{grid-column: 1 / -1; grid-row: 3/4;}    
    .logo-footer{grid-column: 1 / -1; grid-row: 1/2; margin-bottom: 20px; }
    .data-grid{justify-items: center;}
  }

@media only screen and (min-width: 601px) and (max-width: 991px) {
    .grid-container {grid-template-columns: auto auto; margin: 30px; padding: 10px;}
    .main-header, .topbar {padding-left: 10px; padding-right: 30px;}
    .footer {padding-left: 30px; padding-right: 30px;}
    .contact-footer{grid-column: 1/ 3; grid-row: 1/2;}
    .logo-colegio{grid-column: 1 / 3; grid-row: 2/3;}
    .matriculas{grid-column: 3 / -1; grid-row: 2/3;}    
    .logo-footer{grid-column: 3 / 5; grid-row: 1/2;}
} 

@media only screen and (min-width: 992px) and (max-width: 1439px) {
    .grid-container {grid-template-columns: auto auto auto; margin: 50px; padding: 10px;}
    .main-header, .topbar{padding-left: 40px; padding-right: 50px;}
    .footer {padding-left: 50px; padding-right: 50px;}
    
}
