<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{% static 'InmobiliariaApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'InmobiliariaApp/css/style2.css' %}" rel="stylesheet"> 
    <title>Alassia - Micheletti Inmobiliaria</title>
</head>

<body>

  <div class="topbar">
    <div class="fl_left">
      <ul class="contact">
        <li class="top"><a href="tel:++543467637214" id="tel">
          <img src="../../static/InmobiliariaApp/img/icon-phone.png" id="icon-phone"  alt="">+543467637214</a>
        </li>
        <li class="top"><a href="mailto:nicolasbeltran_23@hotmail.com" id="mail" >
          <img src="../../static/InmobiliariaApp/img/icon-mail.png" id="icon-mail" alt="">ejemplo@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="location">
        <li class="top"><a href="" id="map">
           <img src="../../static/InmobiliariaApp/img/icon-location.png" id="icon-location" alt="">Balcarce 232, Rosario</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Barra Contactos -->


 <!-- Barra Logotipo -->
  <div class="main-header">
    <div class="container-logo">
      <ul class="ul-logo">
        <li class="logo"><a href="/">
          <img id="logotipo" src="../../static/InmobiliariaApp/img/logo3.jpg"   alt="logo"></a>
        </li>
      </ul>
    </div>
    <div class="container-operacion">
      <ul class="ul-operacion" > 
        <li class="operacion"><a href="#alquileres">ALQUILERES</a></li>  
        <li class="operacion"><a href="#ventas">VENTAS</a></li>
      </ul>
    </div>
  </div>
  <!-- Barra Logotipo -->


  {% block content %}

  {%endblock %}

<!-- Footer -->
  <div class="footer">
    <div class="contact-footer">
      <ul class="ul-contact-footer">
        <li><a href="" ><img src="../../static/InmobiliariaApp/img/icon-phone2.png" id="icon-phone" alt="" >+543467637214</a></li>
        <li><a href=""><img src="../../static/InmobiliariaApp/img/icon-mail2.png" id="icon-mail" alt="">ejemplo@gmail.com</a></li>
        <li><a href=""><img src="../../static/InmobiliariaApp/img/icon-instagram.png" id="icon-instagram" alt="">@BeltranNico</a></li>
        <li><a href=""><img src="../../static/InmobiliariaApp/img/icon-facebook.png" id="icon-facebook" alt="">Facebook Inmobiliaria</a></li>
        <li><a href=""><img src="../../static/InmobiliariaApp/img/icon-location2.png" id="icon-location" alt="">Balcarce 232, Rosario</a></li>
      </ul>
    </div>
    <div class="logo-footer">
      <ul class="ul-logo-footer" >
        <li><a href=""><img id="logotipo2" src="../../static/InmobiliariaApp/img/logo1.png"  width="150" height="100" alt=""></a></li>
      </ul>
    </div>
  </div>
<!-- Footer -->

    <!-- Bootstrap -->
    <script src="{% static 'InmobiliariaApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'InmobiliariaApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    
    

</body>


</html>