{% extends "InmobiliariaApp/base.html" %}

{% load static %}

{% block content %}

<style>
    * {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 15px;
  border-radius: 3px 0 0 3px;
}

.prev{
  margin-left: 15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* Container for image text */
.caption-container {
  text-align: center;
  vertical-align: middle;
  background-color: #ededed;
  padding: 12px 16px;
  color: black;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.caption-container > p{
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.grid-propiedad{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    
}
/* .caracteristicas{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
} */
 .grid-fotos{
    display: grid;
    grid-template-columns:  auto;
    grid-template-rows:  45% 5% 55%;
} 

 .mainFoto{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.otrasFotos{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
} 

@media only screen and (max-width: 767px){
  .grid-propiedad{grid-template-columns: auto; margin: 20px; padding-right: 25px;}
  /* .container{padding-left: 20px; padding-right: 20px;} */
}

</style>

 <br>
 <!--<br><br> -->

<div class="grid-propiedad container">

    <div class="container">
        <h2>Descripción</h2>
        <p>Dirección: {{inmuebles.direccion}}</p>
        <p>Ciudad: {{inmuebles.ciudad}}</p>
        <p>Tipo de inmueble: {{inmuebles.categoria}}</p>
        <p>Ambientes: {{inmuebles.ambiente}}</p>
        <p>Precio: {{inmuebles.precio}}</p>
        <p>Tamaño: {{inmuebles.metros}}m²</p>
        <h2>Caracteristicas</h2>
        <p style="text-align: justify;">{{inmuebles.caracteristicas}}</p>
        <h2>Requisitos</h2>
        <p>{{inmuebles.requisitos}}</p>
    </div>


    <div class="container grid-fotos" >
        {% for img in imagenes %}

        <div class="mySlides  ">
            <img class="mainFoto" src="{{img.imagen.url}}" >
        </div>

        {% endfor %}

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
<!-- 
        <div class="caption-container">
            <p id="caption"></p>
        </div> -->

        <!-- Thumbnail images -->
        <div class="row container otrasFotos ">
            {% for img in imagenes %}
            <div class="column">
                <img class="demo cursor" src="{{img.imagen.url}}" style="width:100%"
                 onclick="currentSlide({{forloop.counter}})" alt="{{inmuebles.titulo}}">           
            </div>
            {% endfor %}
        </div>

    </div>

    
</div>

<br><br>

<script>
    var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  //var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  //captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

{% endblock %}